[Desktop Entry]
Type=Application
Name=raspiBackup
Comment=raspiBackup Installer
Encoding=UTF-8
Type=Application
Terminal=true
Exec=sudo /usr/local/bin/raspiBackupInstallUI.sh
# ubuntu START 
Exec=sudo /usr/local/bin/raspiBackupInstallUI.sh
Icon=/home/ubuntu/.icons/raspiBackupIcon.png
# ubuntu END 
# RaspbianOS START
Exec=lxterminal -e sudo /usr/local/bin/raspiBackupInstallUI.sh
Icon=/home/pi/.icons/raspiBackupIcon.png
# RaspbianOS END
