[Unit]
Description=Creation of a Raspberry backup with raspiBackup

[Service]
Type=simple
ExecStart=/usr/share/raspiBackup/raspiBackup.sh
[Install]
WantedBy=multi-user.target
