[Unit]
Description=Creation of a Raspberry backup with raspiBackup

[Service]
Type=simple
ExecStart=/usr/share/raspibackup/raspiBackup.sh
[Install]
WantedBy=multi-user.target
